<p>foireauxquestions works!</p>
<p>les questions que vous vous posez
    Combien ça coûte chez vous, un site internet ?
    Il est impossible de chiffrer précisément le coût de création d'un site internet sans avoir étudié les besoins au préalable. Certains prestataires, de l'indépendant à l'agence, offrent des "pack" ou "formules" à prix avantageux, avec un nombre de pages ou d'images limité. La valeur d'un site web ne se calcule pas en nombre de pages, mais en temps passé à le construire. Une page complexe peut prendre plus de temps à construire que trois pages standard. Votre site web est unique, vos besoins aussi. Sa conception demande d'être réfléchie avec l'aide d'un expert. Attention aux offres trop alléchantes qui ne présagent rien de bon quant à l'investissement de l'agence ou de l'indépendant dans votre projet !
    
    Mon neveu Kévin m'a proposé de créer mon site internet gratuitement. Pourquoi vous payer ?
    Je suis certain que Kévin sait aussi faire cuire des pâtes. Ce n'est pas pour autant qu'il est capable d'ouvrir un restaurant ! La création de sites internet demande beaucoup de connaissances et de travail au quotidien pour suivre l'évolution des technologies web. Si vous souhaitez un site web de qualité, faites appel à un professionnel, vraiment.
    
    Votre activité de freelance à Poitiers est-elle votre activité principale ?
    Non, je suis également développeur web dans une institution publique. Mon activité principale me permet d'apprendre chaque jour un peu plus, et d'appliquer mes acquis à votre service, pour un résultat toujours plus professionnel. Elle n'a aucune incidence sur ma totale implication dans les projets qui me sont confiés. La création de sites internet et d'identité graphique est pour moi un hobbie qui occupe une bonne partie de mon temps lorsqu'une mission m'est confiée.
    
    Depuis combien de temps exercez-vous en développeur web freelance ?
    Je suis inscrit au régime de l'auto-entrepreneuriat depuis août 2010. A cette époque, je souhaitais profiter de ce statut pour mener à bien, légalement, d'éventuelles missions. J'ai ensuite conservé le statut en créant occasionnellement quelques sites internet pour des clients. Aujourd'hui, c'est une activité que je souhaite développer pour, pourquoi pas, en vivre à l'avenir.
    
    Comment m'assurer que vous me livrerez mon projet web, et que j'en serai satisfait ?
    Ma réputation dépend de votre satisfaction. Tout simplement.
    
    J'ai trouvé plein d'autres prestataires concurrents ! Pourquoi faire appel à vous ?
    Le domaine de la création de sites internet et du webdesign est effectivement très concurrentiel. Il y a plein d'autres prestataires très compétents ! Comme pour toute prestation de service : prenez votre temps avant de choisir votre prestataire. Faites établir plusieurs devis. Et n'hésitez pas à les rencontrer : c'est de cette manière que vous saurez si vous avez affaire, ou non, à un passionné qui s'impliquera totalement dans votre projet.
    
    Accueillez-vous des stagiaires, ou des étudiants en apprentissage ?
    Mon activité de freelance en création de sites internet n'étant pas mon activité principale, ce n'est malheureusement pas possible.
    
    Vous êtes plutôt chocolatine ou pain au chocolat ?
    Si aujourd’hui j’habite à Poitiers, je suis originaire d'Angers où on dit massivement "Pain au chocolat" ! Vous dites chocolatine ? On se réconciliera autour d'un croissant :)
    
    J'ai une autre question...
    N'hésitez pas à me contacter. Je me ferai un plaisir de vous répondre.</p>
