
<h3>création de site web</h3>
<p>  administrable sous wordpress
    WordPress est un système de gestion de contenus (CMS, Content Management System), écrit en PHP. Un CMS permet de séparer la partie technique d'un site web de son contenu, en offrant une interface d'édition des pages, articles et médias. Les textes peuvent ainsi être modifiés comme dans un traitement de texte, sans connaissances en programmation.
</p>
    <p>Pourquoi WordPress ?</p>
    <p>Selon WordPress.com, 37% du web utilise ce CMS. C'est énorme. Et il y a plusieurs raisons à cela : sa facilité d'utilisation, la grande communauté de développeurs qui participent à l'améliorer, sa fiabilité, et bien d'autres choses encore. Choisir WordPress, c'est l'assurance de pouvoir répondre à tous vos besoins.</p>