
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 300px) {
    .centreVerticalement {
      margin-top:10px;
     }
}

     /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .centreVerticalement {
    margin:auto 0;
   }
}

/* .taille{
  height: 80px;
} */
  body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #navbar {
    overflow: hidden;
    z-index: 7;
  }

  #navbar a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  #navbar button{
    /* background-color: rgb(185, 180, 180); */
    color: white;
  }

  #navbar a:hover {
    background-color:#444444;
    color: black;
  }

  /* #navbar a.active {
    background-color: #4CAF50;
    color: white;
  } */

  .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  span{
    font-size: 30px;
    font-weight: 700;
  }

  .icon{
    width:30px;
    height:30px;
    margin: auto auto;
  }

  // .logo{
  //   width:120px;
  // }

  