<!-- <div class="row fond" id="navbar"> -->
<div class="row fond" id="navbar">
    <div class="col-md-8 col-6 d-flex">
        <a class="centreVerticalement d-md-block d-none" href="" routerLink="/listederandonnees">Randonnées</a>
        <a class="centreVerticalement d-md-block d-none" href="" routerLink="/faunes">Faune</a>
        <a class="centreVerticalement d-md-block d-none" href="" routerLink="/fleurs">Flore</a>
        <a class="centreVerticalement d-md-block d-none" href="" routerLink="/contact">Contact</a>
      </div> <!--fin col-->
</div> <!--fin row -->