
<h3>maintenance de votre site web</h3>
    <p>Et ensuite ? On peut avoir tendance à penser qu'une fois son site internet en ligne, il n'y a plus à s'en occuper. C'est faux ! Un site web doit être entretenu pour éviter des failles de sécurité, l'apparition de problèmes d'affichage ou fonctionnels, et s'adapter à vos besoins qui risquent d'évoluer.
    </p>
    <p>Des mises à jour de sécurité et des conseils éditoriaux pour accompagner la vie de votre site internet
    La maintenance d'un site web peut englober plus ou moins d'aspects. Plusieurs options sont proposées.
    Maintenance préventive : mises à jour de sécurité sur WordPress et ses plugins ;
    Maintenance corrective : correction de dysfonctionnements qui pourraient apparaître ;
    Maintenance éditoriale : conseils éditoriaux, création de nouvelles pages ou articles ;
    Maintenance 100% : Maintenances préventive, corrective et éditoriale ;
    Je prends en charge uniquement la maintenance des sites dont je suis le développeur. Par ailleurs, bien que cela soit fortement recommandé, il n'y a aucune obligation de souscription à un contrat de maintenance. Les tarifs sont communiqués à votre demande de devis pour la création d'un site internet.
    </p>