<p>etapecreation works!</p>
<p>Définition du besoin
Un projet web efficace est un projet réfléchi en amont. Quels sont vos objectifs de communication ? Votre public cible ? Quels sont les points forts et points faibles de la concurrence ? Que souhaitez-vous mettre en avant ?
Il est important de se poser toutes ces questions avant de se lancer tête baissée dans son projet web. Ensemble, en vous consultant, nous essaierons d'y répondre pour aller dans la bonne direction.</p>
<p>   Conception du site web
La phase de conception est une étape indispensable, car elle définit la structure de votre site web. L'arborescence du site est primordiale pour hiérachiser vos contenus et les articuler de manière logique. Elle est aussi bénéfique au référencement naturel (SEO) de votre site.

Quant aux premiers schémas de vos pages, appelés zonings, ou mockups, ils offrent un premier aperçu de vos pages, sans les aspects graphiques.</p>

<p>
    Création graphique
Avant de devenir un site web, votre projet doit correspondre à votre identité visuelle. Pour cela, nous élaborons le design de votre site en réalisant une maquette graphique.

Grâce aux étapes précédentes qui nous auront aidé à définir vos besoins, à analyser la concurrence et à structurer vos pages, nous travaillons ensemble sur le design qui vous correspond le plus.
</p>

<p>Développement du site web
    Une fois la maquette graphique validée par vos soins, reste à l'intégrer avec les technologies web, dans le respect des standards et critères d'ergonomie et d'accessibilité.
    
    Les fonctionnalités dont vous avez besoin sont également déployées, via des extensions pré-existantes, ou développées par mes soins.
    
    Des points d'étapes sont organisés régulièrement pour vous tenir au courant des avancées du développement.</p>

    <p>

        Tests et mise en production
Le développement terminé, reste à tester votre site sur les navigateurs les plus utilisés sur le marché. Tous les bugs sont traqués, c'est la phase dite de recette.

De votre côté, vous disposez du délai nécessaire pour faire remonter tout dysfonctionnement et valider la conformité du site web.

Une fois votre validation acquise, il ne reste plus qu'à le mettre en production sur le serveur de destination. Une formation peut vous être proposée si vous souhaitez gérer vous-même les contenus de votre site internet.
    </p>