

<h4>un freelance dans en Gironde</h4>
   <p> passionné par la création web
    J’exerce mon activité de freelance en création de sites internet, près de Poitiers, comme un « loisir professionnel ». C’est un loisir car depuis une quinzaine d’années, je me suis pris de passion pour le webdesign et le développement web full stack.
    Mes compétences me permettent de proposer la gestion et l’exécution de projets de développement de sites web de qualité professionnelle, de leur conception à leur mise en ligne.
    Un développeur web full stack indépendant à Poitiers dans une démarche qualitative
    Parce que je considère que chaque projet de site internet est unique, mon approche se veut "artisanale", qualitative : vous écouter, vous conseiller, et vous créer un site internet accessible, optimisé, fiable, qui répond à toutes vos attentes de communication. Travailler avec un indépendant, à l’inverse d’une agence web, c’est disposer d’un seul interlocuteur, expert en création de site web, et avoir l’assurance que votre projet sera bien construit de bout en bout.
    </p>